img{
    width:auto;
    height: 300px;
    border: 5px solid white;
    border-radius: 10px;
}

.projects{
    background-color: #4B6587;
    color: white;
    height: fit-content;
}

.projects h2{
    padding-top: 5%;
    text-align: center;
}

.project4{
    display: flex;

}

.project4{
    display: flex;
    justify-content: space-around;
    gap: 75px;
    border-bottom:1px solid #C8C6C6;
    margin: 50px;

}

.project3{
    display: flex;
    gap: 75px;
    border-bottom:1px solid #C8C6C6;
    margin: 50px;

}

.project2{
    display: flex;
    justify-content: space-around;
    gap: 75px;
    border-bottom:1px solid #C8C6C6;
    margin: 50px;

}

.project1{
    display: flex;
    gap: 75px;
    border-bottom:1px solid #C8C6C6;
    margin: 50px;

}

.button-holder{
    display: flex;
    justify-content: center;
}

.website{
    height:fit-content;
    font-size: 24px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: #4B6587;
    text-decoration: none;
    padding: 5px;
}

.website:hover{
    height:fit-content;
    align-self: center;
    font-size: 24px;
    background-color: rgb(232, 232, 232);
    border: none;
    color: #4B6587;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
}

.text-container {
    margin: 0 50px;
}

@media (max-width:650px){
.project4{
    display:inline;
    border-bottom:1px solid #C8C6C6;
    margin: 50px;

}

.project3{
    display: inline;
    border-bottom:1px solid #C8C6C6;
    margin: 50px;

}

.project2{
    display: inline;
    border-bottom:1px solid #C8C6C6;
    margin: 50px;

}

.project1{
    display:inline;
    border-bottom:1px solid #C8C6C6;
    margin: 50px;

}
img{
    display:none;
}
}