.header{
    display:flex;
    background-color: #4B6587;
    color: white;
    height: 10%;
    position: fixed;
    width:100%;
    top:0;
    border-bottom: 15px double #F0E5CF;
}

.header h1{
    display:block;
    width:1800px;
    padding-left: 40px;
}

.icons {
    display:flex;
    justify-content: right;
    padding-right: 40px;
    align-items: center;
    width:100%;
}

.linkedin a {
    color: #ffffff;
    padding-top:20px;
    margin-left: 40px;
}

.linkedin a:hover {
    color: #4B6587;
    background-color: #ffffff;
    border-radius: 5px;
}

.git a {
    color: #ffffff;
    padding-top: 20px;
}

.git a:hover {
    color: #4B6587;
    background-color: #ffffff;
    border-radius: 5px;
}