.header{
    display:flex;
    align-items: center;
    background-color: #4B6587;
    color: white;
    height: 10%;
    position: fixed;
    width:100%;
    top:0;
    border-bottom: 15px double #F0E5CF;
}

.desktop-header{
    width:1800px;
}

.header h1{
    display:flex;
    align-content: center;
    width:90%;
    padding-left: 40px;
    margin: 0;
}

.icons {
    display:flex;
    justify-content: right;
    padding-right: 40px;
    align-items: center;
    width:100%;
}

.linkedin a {
    color: #ffffff;
    padding-top:20px;
    margin-left: 40px;
}

.linkedin a:hover {
    color: #4B6587;
    background-color: #ffffff;
    border-radius: 5px;
}

.git a {
    color: #ffffff;
    padding-top: 20px;
}

.git a:hover {
    color: #4B6587;
    background-color: #ffffff;
    border-radius: 5px;
}


@media (max-width:700px){
    .desktop-header {
        display:none !important;
    }
}

@media (min-width: 700px){
    .mobile-header {
        display:none !important;
    }
}